@import 'tailwindcss';
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary:#619B8A;
  --color-dark:#233D4D;
  --gradient-primary: linear-gradient(90deg, #659E89 0%, #619B8A 50%, #A1C181 100%);
  --font-poppins: Poppins, sans-serif;
}


@theme inline {

  --color-background: var(--background);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  h1{
    font-size: 98px;
    line-height: 100%;
    letter-spacing: -1.5px;
    font-weight: 300;
    font-family: var(--font-poppins);
  }

  h2{
    font-size: 61px;
    line-height: 100%;
    letter-spacing: -0.5px;
    font-weight: 300;
    font-family: var(--font-poppins);
  }

  h3{
    font-size: 49px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 500;
    font-family: var(--font-poppins);
  }

  h4{
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0.25px;
    font-weight: 400;
    font-family: var(--font-poppins);
  }

  h5{
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.25px;
    font-weight: 400;
    font-family: var(--font-poppins);
  }

  p{
    font-family: var(--font-poppins);
  }

}



